---
title: "Comment puis-je effectuer la vérification KYC / Verification d'identité sur Tranzak?"
url: "https://community.tranzak.net/t/comment-puis-je-effectuer-la-verification-kyc-verification-didentite-sur-tranzak/32#post_1"
date: "2024-12-30"
author: "@MissB Blessing Ngassa"
feed_url: "https://community.tranzak.net/posts.rss"
---
Pour effectuer une vérification KYC / vérification d’identité sur Tranzak, procédez comme suit: Téléchargez l’application mobile Tranzak Android , iOS Connectez-vous à votre compte Tranzak Naviguez jusqu’à l’onglet Moi Choisissez Mon compte Choisissez Vérification d’identité Remplissez le formulaire fourni avec les informations appropriées et soumettez-le
